/*
Student Name : Jonathan Suryadiputra 
Student ID : C00235450
Group : C2P-B
Course : CW_KCSOF_B
Date : 20/4/20
Purpose of CSS : Style the delete stock record page.
*/

/* general styling */
body {
	background-image : url("/img/tilebackground.png");
	background-size : 200px 200px;
	background-repeat : repeat;
}

button:focus {
	outline : 0;
}

input:focus {
	outline : 0;
}

/* table styling */
table {
	border-collapse : collapse;
}

thead {
	display : block;
}

tbody {
	display : block;
	height : 326px;
	overflow-y : scroll;
}

tbody::-webkit-scrollbar {
    width: 5px !important;
    background-color: transparent;
	display : none;
}

th, td {
	padding : 5px;
	font-size : 18px;
}

td {
	color : #85893A;
}

th {
	height : 50%;
	background-color: #B1B96C;
	color : white;
	font-size : 20px;
}

tr {
	font-size : 20px;
	background-color : #DFE2A6;
}

tr:hover {
	background-color : #CED18A;
}

/* remove outer borders on table */
table td {
	border: 1px solid white;
}

table tr td{
	border-top: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

table th {
	border: 1px solid white;
}

table tr th:first-child {
	border-left: 0;
}

table tr th:last-child {
	border-right: 0;
}

/* table column arrangements */
th.stocknum, td.stocknum {
	width : 90px;
}

th.description, td.description {
	width : 250px;
}

th.costprice, td.costprice {
	width : 100px;
}

th.suppliername, td.suppliername {
	width : 400px;
}

th.deletecol, td.deletecol {
	width : 100px;
}

/* containers */
.tableoutercontainer {
	display : flex;
	justify-content : center;
	align-items : center;
	margin-top : 20px;
	position : relative;
	top : -20px;
}

.tablecontainer {
	overflow : hidden;
	border-radius : 0px 0px 10px 10px;
	height : 400px;
	background-color : #DFE2A6;
}

.headeroutercontainer {
	display : flex;
	justify-content : center;
	align-items : center;
}

.headercontainer {
	border-radius : 10px 10px 0px 0px;
	width : 994px;
	height : 50px;
	line-height : 0px;
	font-size : 24px;
	text-align : center;
	background-color : #85893A;
	color : white;
	padding-top : 10px;
	padding-bottom : 20px;
	margin-top : -20px;
}

/* form elements e.g. text fields, buttons, etc. */
input.searchbar {
	width : 100%;
	height : 40px;
	font-size : 18px;
	padding : 10px;
	font-family : serif;
	border-style : none;
	background-color : #F6F6F6;
}

button.delete {
	font-family : serif;
	font-size : 18px;
	border-style : none;
	border-radius : 5px;
	background-color : #85893A;
	color : white;
	width : 60px;
	height : 30px;
	margin-bottom : -17.5px;
}

button.delete:hover {
	background-color : #5B5E18;
	color : #FCFFCF;
	cursor : pointer;
}

button.searchbutton {
	background-color : #F6F6F6;
	border-style : none;
	color : gray;
	padding-left : 10px;
	padding-right : 10px;
	font-size : 24px;
}

button.searchbutton:hover {
	background-color : #E3E3E3;
	color : #545454;
}